body {
    background: url(images/escheresque.png);
}

.container {
    width: 900px;
}

.main {
    background: white;
    padding: 30px 50px;
}

.page-header {
    background: url(images/header.jpg);
    background-repeat: repeat-x;
    margin-top: 0px;
    height: 150px;
    margin-bottom: 0px;
}

.page-header h1 {
    line-height: 150px;
}

h1 {
    font-weight: bold;
    letter-spacing: -2px;
    text-shadow: 2px 2px 0px black;
}

h1 small {
    letter-spacing: -1px;
    text-shadow: none;
}

h2 { letter-spacing: -2px; }


h1 { color: white; }
h1 small { color: black; }

h2 {
    color: #7F228A;
}

.well {
    background-color: #FFF9E3;
    border-color: #C4B36C;
}

.input-name {
    width: 5em;
    border: 0px;
    border-bottom: solid 1px #aaa;
    font-weight: bold;
    font-size: 14pt;
}

.changes {
    font-size: 8pt;
    white-space: nowrap;
    margin-top: 5px;
}

.input-variant {
    width: 2.5em;
    font-size: 8pt;
    margin-top: -3px;
    text-align: right;
    padding: 1px 3px;
    height: 18px;
    margin-right: 2px;
    border: 0px;
    background: #EEE;
    margin-left: 5px;
    margin-left: 5px;
    font-weight: bold;
}

th, td {
    vertical-align: top !important;
}

.table-nonfluid {
    width: auto !important;
}

.swatch-outer {
    width: 120px;
    padding: 5px;
    border: solid 1px #999;
    background: #EEE;
    border-radius: 3px;
}

.swatch-inner {
    height: 60px;
}

.topmargin {
    margin-top: 5px;
}

.undo-btn {
    position: fixed;
    left: 100%;
    margin-left: -80px;
    top: 15px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.spacer {
    height: 20px;
}
